@use '../../../app/styles/mixins' as *;

.toggle {
  @include flex-center;
  width: 40px;
  height: 40px;
  background-color: var(--color-secondary);
  border: none;
  border-radius: var(--border-radius-circle);
  font-size: var(--font-size-xl);
  color: var(--color-text);
  transition: var(--transition-base);
  cursor: pointer;

  &:hover {
    background-color: var(--color-secondary-hover);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.98);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
  }
}