@use '../../../app/styles/variables.scss';
@use '../../../app/styles/mixins.scss' as *;

.dayGroup {
  margin-bottom: var(--spacing-lg);
  transition: var(--transition-base);

  &:hover {
    box-shadow: var(--shadow-md);
  }
}

.header {
  @include flex-between;
  align-items: baseline;
  margin-bottom: var(--spacing-md);
  padding-bottom: var(--spacing-sm);
  border-bottom: var(--border-width) solid var(--color-primary);
}

.date {
  font-size: ar(--font-size-md);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text);
  text-transform: capitalize;
  margin: 0;

  &::first-letter {
    text-transform: uppercase;
  }
}

.total {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);

  &.positive {
    color: var(--color-success);
  }

  &.negative {
    color: var(--color-error);
  }
}

.transactions {
  display: flex;
  flex-direction: column;

  > :first-child {
    padding-top: 0;
  }
}