@use '../../../app/styles/mixins.scss' as *;

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  width: 100%;
}

.empty {
  @include flex-center;
  flex-direction: column;
  text-align: center;
  min-height: 200px;
  color: var(--color-text-light);

  p {
    margin: var(--spacing-sm) 0;
    font-size: var(--font-size-md);
    
    &:first-child {
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-medium);
      color: var(--color-text);
    }
  }
}

.hint {
  font-size: var(--font-size-md);
  opacity: 0.8;
}

.loading {
  @include flex-center;
  min-height: 200px;

  &::after {
    content: '';
    width: 40px;
    height: 40px;
    border: 3px solid var(--color-border);
    border-top-color: var(--color-primary);
    border-radius: var(--border-radius-circle);
    @include spin-animation(0.8s);
  }
}