@use '../../../app/styles/mixins' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);

  &.fullWidth {
    width: 100%;
  }
}

.label {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--color-text);
}

.input {
  @include input-base;
  background-color: var(--color-background);

  &.error {
    border-color: var(--color-error);
  }

  &.fullWidth {
    width: 100%;
  }
}

.errorText {
  color: var(--color-error);
  font-size: var(--font-size-sm);
}