@use '../../../app/styles/mixins' as *;

.card {
  background-color: var(--card-bg);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--card-shadow);
  transition: var(--transition-base);

  &.padding-none {
    padding: 0;
  }

  &.padding-small {
    padding: var(--spacing-md);
  }

  &.padding-medium {
    padding: var(--spacing-xl);
  }

  &.padding-large {
    padding: var(--spacing-xxxl);
  }

  &.hoverable {
    &:hover {
      box-shadow: var(--card-shadow-hover);
      transform: translateY(-2px);
    }
  }
}